@charset "UTF-8"; 
body{
    background-image: url(../IMG_5443.JPG);/*背景画像を変える*/
}
h1 span{
    font-size: 1.75em;
    color:#0000ff;
}
h2{
    background-color:#add8e6;
    font-weight:bold;
    border: #94c8b1 1px dotted; /* 境界線 */
}
h2:first-letter{font-size:1.75em;}
#lead{
    color:#afeeee;
}
.greeting{
    color:#40e0d0;
}
